/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-jan-2015, 4:39:24
    Author     : Mohamed
*/

root { 
    display: block;    
}
body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    background: white;
}

.witRuimtes{clear:both; height:1px;}

.formulier{
margin:0 auto;
width:400px;
padding:14px;
}

#div{
border:solid 2px burlywood;
background: blue;
border-radius: 5px;
}
#div h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#div p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px burlywood;
padding-bottom:10px;
}
#div label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#div .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#div input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px burlywood;
width:200px;
margin:2px 0 20px 10px;
border-radius: 5px;
}
#div button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
border-radius: 5px;
}



